%h1 blog entries

- posts = latest_articles.paginate(:page => params[:page] ? params[:page] : 1, :per_page => 6)
- posts.each do |post|
  %article
    %div
      %h3
        %a(href="#{"blog/" + post.permalink}")= post.title
        = post.summary
        %a(href="#{post.permalink}")= post.read_more
        %span= post.date
= will_paginate posts